<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <!--header section start -->
  <%- include('../partials/header') %>
  <!--header section end -->

  <!--delete section start -->
  <%- include('../layouts/product-delete-section') %>
  <!--delete section end -->

</body>

</html>